<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/loggedin" method="post">
      <label for="username">Username</label>
      <input type="text" name="username">
      <label for="password">Password</label>
      <input type="password" name="password">
      <label for="email">Email</label>
      <input type="email" name="email">
      <button type="submit" name="button">Login</button>
    </form>

  </body>
</html>
